# See http://help.github.com/ignore-files/ for more about ignoring files.

# misc
.DS_Store

# ssh keys
*.pem

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
